.App {
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
  background-color: #f8f9fc;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}